Source: droidcam
Section: video
Priority: optional
Maintainer: Archisman Panigrahi <apandada1@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.5


Package: droidcam
Architecture: amd64
Depends: ${misc:Depends}, build-essential, linux-headers-generic | linux-headers-generic-pae | linux-headers-lowlatency | linux-headers-lowlatency-pae
Description: Use your Android phone as a wireless webcam or an IP Cam!
 You will have to manually install headers for the current linux kernel with "sudo apt-get install linux-headers-$(uname -r)" before installing droidcam.
